@import "tailwindcss";

/* Базовые стили */
/* html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
} */

:root {
  --border-color: #fe5f00;
  --text-orange: #fe5f00;
  --bg-orange: #fe5f00;
  --text-grey: #ededed;
}

* {
  box-sizing: border-box;
  /* color: var(--text-color); */
}

/* body {
}

/* Кастомные утилиты */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

.text-balance {
  text-wrap: balance;
}

/* Стили для nprogress */
/* #nprogress .bar {
  background: hsl(var(--primary)) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary)) !important;
}

#nprogress .spinner-icon {
  border-top-color: hsl(var(--primary)) !important;
  border-left-color: hsl(var(--primary)) !important;
} */

[data-radix-slider-thumb],
[data-radix-switch-thumb],
[data-radix-checkbox],
[data-radix-radio] {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
